body {
    margin: 0;
    background: #31485d;
}


.main-section {
    width: 50%;
    margin: 0 auto;

}


.add-section  {
    width: 100%;
    background-color: #ffff;
    margin: 20px 0;
    padding: 20px 20px;
    border-radius: 5px;
}

.show-section {
    width: 100%;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
}

#text {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

.remove-todo{
    background-color: #ffff;
    border: none;
}

.blue-btn {
    display: block;
    width: 100%;
    margin: 8px auto;
    background-color: rgb(0, 110, 255);
    padding: 12px 0;
    border: none;
    color: white;
    border-radius: 5px;
}

.todo-item {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #bbd5ee;
}

.remove-todo {
    display: block;
    float: right;
    margin: 2px;
    cursor: pointer;
}

.check-box {
    display: inline-block;
    margin-top: 0;
}

h2 {
    display: inline-block;
}

.checked {
    text-decoration: line-through;
}

small{
    margin: 0 0 5px 25px;
}